# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/augmented/

# Models (track only with LFS)
models/*.keras


# Logs
*.log
notebooks/logs/